{
    "env": {
        "es6": true,
        "browser": true,
        "node": false
    },
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": false,
        "jsx": false
      },
    },

    "extends": "standard",
    "globals": {
      "Reveal": false,
      "Kittens": false,
      "hljs": false
    },
    "rules": {
      "prefer-const": "error",
      "no-var": "error"
    }
}
