
code.hljs-inline {
  display: inline-block;
}

.reveal .kitten-side-by-side {
  display: table-cell;
  position: relative;
}
.reveal .kitten-side-by-side img {
  margin: 0;
  max-height: none;
  max-width: 100%;
}
.reveal .kitten-side-by-side .footnote-ref {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(200, 200, 200, 0.4);
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border: none;
  display: block;
  margin: 0px;
}

footnote {
  font-size: 0.8rem;
  color: #50433C;
}

.footer-inner-footnote {
  position: absolute;
  right: 430px;
  padding: 1px 10px;
  left: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}

#footnote-holder {
  font-size: 15pt;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .5rem;
}
#footnote-holder > * {
  display: block;
  opacity: 100%;
  transition: opacity .5s;
}

#footnote-holder > *.hidden {
  opacity: 0;
  transition: opacity .5s;
}

#footnote-holder footnote {
  font-size: inherit;
}

ul.libs .fa, ul.libs .fa {
  margin-left: 0.2rem;
  margin-right: 0.1rem;
}

ul.libs a code {
  margin-right: 0.2rem;
}

.code-mark.code-mark-mark {
  background-color: #ffff7c;
}

.code-mark.code-mark-add {
  background-color: #8aff6d;
}

.code-mark.code-mark-rm {
  background-color: red;
}
