<div class='kitten {{classes}}'>
  <div class='kitten-img'>
    <img src='{{kitten.image_path|rel_to(output_location)}}' alt='{{kitten.title}}' />
  </div>
  <footnote class='kitten-info' data-footnote-ref='[?]'>
    <span class='kitten-id'>
      [?]
    </span>
    &ldquo;{{kitten.title}}&rdquo;(<a href='{{kitten.short_url}}'>{{kitten.short_no_scheme_url}}</a>)
    by
    <b><a href='https://www.flickr.com/people/{{kitten.owner.path}}' class='no-colour'>
      {{kitten.owner.realname|default(kitten.owner.username, true)}}
    </a></b>
    {{kitten.license|license_html}}
  </footnote>
</div>
