<div class='kitten-pinwheel'>
  {%- for kitten in kittens -%}
    {%- if loop.index <= 4 -%}
      <div class='kitten-img kitten-img-{{loop.index}}'><img src='{{kitten.image_path|rel_to(output_location)}}' alt='{{kitten.title}}' class='kitten-pic' /><footnote class='kitten-info' data-footnote-ref='[{{loop.index}}]'>
          <span class='kitten-id'>[{{loop.index}}] </span>&ldquo;{{kitten.title}}&rdquo;(<a href='{{kitten.short_url}}'>{{kitten.short_no_scheme_url}}</a>)
          by
          <b><a href='https://www.flickr.com/people/{{kitten.owner.path}}' class='no-colour'>
            {{kitten.owner.realname|default(kitten.owner.username, true)}}
          </a></b>
          {{kitten.license|license_html}}
        </footnote></div>
    {%- endif -%}
  {%- endfor -%}
</div>
<div class='kitten-time'>
  <span>
    {% if kittens|length == 1  %}
      Downloading {{ kittens|length }} kitten
    {% else %}
      Downloading {{ kittens|length }} kittens
    {% endif %}
    took {{ time|to_readable_timedelta }}
  </span>
</div>
